<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/home.css">
    <style>
        h2 {
            text-align: center;
        }

        .id {

            width: 33%;
            margin: 2px auto;
            text-align: center;
            color: blueviolet;
        }

        .info {
            color: #3b1ce7
        }

        .button {
            text-align: center;
            margin-top: 10px;
        }

        .main {
            color: aliceblue;
        }

        small {

            color: #eb0746;
            ;
            width: 20%;
            margin: 9px auto;

            display: flex;
            justify-content: center;
        }

        .main_div {
            width: 100%;

        }
    </style>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<body>
    <%- include('navbar.ejs') %>
    <div class="main_div">
        <div class="centre">
            <div class="id">
                <h6>Event id: <span><b><%= id %></b></span> </h6>
            </div>
            <h2><span><%= name %> </span><br></h2>
            <small>Start's in</small>
            <div id="clock"></div>
            <div class="button">
                <a href="/user/register" class="btn btn-outline-warning" role="button" aria-pressed="true">Register
                    Now</a>
                <br>
                <div class="info">
                    <h5>Address: <span><b><%=  venue %>,<%=  Zip_code %> </b></span></h5>
                    <h5>About Event: <span><b><%=  description  %></b></span></h5>
                    <h5>Date: <span><b><%= moment(date).format('Do MMMM, YYYY')%></b></span></h5>
                    <h5>Time: <span><%= moment(date).format('hh:mm:ss A')%></b></span></h5>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/javascript/countdouwn.js"></script>
    <script type="text/javascript">
        let d = '<%= date %>'
        let deadline = new Date(d)

        $('#clock').countdown(deadline, function (event) {
            var $this = $(this).html(event.strftime(''
                + '<div><span>%w</span><span>Weeks</span></div>'
                + '<div><span>%d</span><span>Days</span></div>'
                + '<div><span>%H</span><span>Hr</span></div>'
                + '<div><span>%M</span><span>Min</span></div>'
                + '<div><span>%S</span><span>Sec</span></div>'

            ))
        })</script>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>


</body>

</html>